.postsContainer {
  max-width: 720px;
  margin: 3rem auto 0;
}

.postsInfo {
  margin-top: 4.25rem;

  a {
    display: block;
    transition: all 0.3s ease-in-out;
    margin: 3rem 0rem;

    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--highlight);
      text-underline-offset: 0.125rem;
    }
  }
}

.postTitle {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.125rem;
  color: var(--heading);
}

.postSubtitle {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: var(--body);
  margin: 0.25rem 0 1rem;
}

.postFooterInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--info);

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 0.5rem;
  }

  div:nth-child(2) {
    margin-left: 2rem;
  }
}

.loadPostsButton {
  outline: none;
  background: none;
  border: none;
  color: var(--highlight);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
